<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>controlador.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirAdjunto</servlet-name>
        <servlet-class>controlador.SubirAdjunto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPrueba</servlet-name>
        <servlet-class>controlador.ServletPrueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Activar</servlet-name>
        <servlet-class>controlador.Activar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registro</servlet-name>
        <servlet-class>controlador.registro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirAdjunto</servlet-name>
        <url-pattern>/SubirAdjunto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPrueba</servlet-name>
        <url-pattern>/ServletPrueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Activar</servlet-name>
        <url-pattern>/Activar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registro</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/pages-error-404.html</location>
    </error-page>
</web-app>
